[safe]
	directory = /usr/src
	directory = /usr/src
	directory = /usr/src
	directory = /usr/src
	directory = /usr/src
	directory = /github/workspace
	directory = /usr/src
	directory = /github/workspace
	directory = /usr/src
	directory = /github/workspace
	directory = /usr/src
	directory = /github/workspace
